<nav class="navbar navbar-inverse navbar-fixed-top"> <!-- navbar-default or navbar-fixed-top -->
	<div class="container-fluid">
			
			
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
				
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				
			<a class="navbar-brand" href="#">Logo Here</a>
			
		</div>		
				
		<!-- Collection of nav links and other content for toggling -->
		<div ng-controller="NavCtrl" class="collapse navbar-collapse myClickableThingy" id="myNavbar">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="home" class="myClickableThingy">Home</a></li>
					
				<li ui-sref-active="active" class="dropdown">
					
					<a class="dropdown-toggle" data-toggle="dropdown"> 
						About Game 
						<span class="caret"></span>
					</a>
					
						<ul class="dropdown-menu">
							<li><a ui-sref="about.world" class="myClickableThingy"> World </a></li>
							<li><a ui-sref="about.characters" class="myClickableThingy"> Characters </a></li>
							<li><a ui-sref="about.gameplay" class="myClickableThingy"> Gameplay </a></li>
						</ul>
					
				</li>
				
				<li ui-sref-activ="active"><a ui-sref="shop" class="myClickableThingy">Shop</a></li>
				<li ui-sref-activ="active"><a ui-sref="inventory" class="myClickableThingy">Inventory</a></li>
				
				<li ui-sref-active="active"><a ui-sref="game.rooms" class="myClickableThingy">Game</a></li>
					
			</ul>
			
			<div ng-controller="AuthCtrl">
				<ul ng-show="!isLoggedIn()"  class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Register </a>
						<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
							<!--Register Form Here-->
							<form ng-submit="register()">
								<!--<input placeholder="Email" id="user_email" style="margin-bottom: 15px;" type="text" name="user[username]" size="30" />-->
								<input placeholder="Email" style="margin-bottom: 15px;" type="text" ng-model="user.email" name="user[email]" size="30" />
								<input placeholder="Username" style="margin-bottom: 15px;" type="text" ng-model="user.username" name="user[username]" size="30" />
								<input placeholder="Password" style="margin-bottom: 15px;" type="password" ng-model="user.password" name="user[password]" size="30" />
								
								<!--
								<input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Register" />
								-->
								<button type="submit" class="btn btn-primary">Register</button>
								
							</form>
						</div>
					</li>
						
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> Log In </a>
						<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
							<!--Login Form Here-->
							<form ng-submit="logIn()">
								<input placeholder="Username" style="margin-bottom: 15px;" type="text" ng-model="user.username" name="user[username]" size="30" />
								<input placeholder="Password" style="margin-bottom: 15px;" type="password" ng-model="user.password" name="user[password]" size="30" />
								
								<!--
								<input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
								-->
								<button type="submit" class="btn btn-primary">Login</button>
							</form>
						</div>
					</li>
				</ul>

				<ul ng-show="isLoggedIn()" class="nav navbar-nav navbar-right">
					<li ui-sref-active="active"><a ng-click="logOut()" class="myClickableThingy"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
				</ul>
			</div>
			
		</div>
			
			
	</div>
</nav>

<div ng-repeat="thing in stuff">
	{{thing}}
</div>

<br>
<br>
<br>
<br>